@import '../styles/_variables.scss';

.App {
  background: $black;
  height: 100%;

  .content-container {
    height: calc(100% - 3rem);
    margin-top: 3rem;
    .main-content {
      margin-left: 240px;
      margin-right: 340px;
      &.left-hidden {
        margin-left: 0;
      }
    }
  }
}