@import '../../styles/_variables.scss';

.ContentHeader-content {
    color: $white;
    padding: 0 1.25rem;
    width: 60%;
    .title {
        display: flex;
        align-items: center;
        .button-custom {
            @include button-custom($grey);

            &.favorite {
                color: $yellow;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .ContentHeader-content {
        width: 80%;
    }
}