// COLORS
$green: #0CCD93;
$white: #FFFFFF;
$black: #000000;
$header-black: #0D0D0D;
$dark-grey: #161616;

// FONTS
$font-s: 0.5625rem; // (9px)
$font-l: 0.9375rem; // (15px)
$font-xl: 1.625rem; // (26px)
