@import '../../styles/_variables.scss';

.Header {
    position: relative;
    background-color: $header-black;
    height: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 12px 0 rgba(0,0,0,0.5);
    z-index: 10;
    .button-custom {
        @include button-custom($white);
        font-size: $font-l;
    }
    .logo {
        height: 30px;
        width: 100%;
    }
}