@import '../../styles/variables';

// Left sidebar
nav.Sidebar-left {
    position: fixed;
    top: 3rem;
    bottom: 0;
    left: 0;
    background-color: $sidebar-grey;
    &.in {
        animation: slidein 0.5s ease-in;
    }
    &.out {
        transform: translateX(-240px);
        animation: slideout 0.5s ease-out;
    }
    .sidebar-container {
        width: 240px;
        .left-menu-quick-links {
            padding: 0rem;
            margin: 5px 0;
            .links-title {
                @include uppercase-text($font-m);
                color: $green;
                padding: 10px 1rem;
                font-weight: 600;
            }
            .menu-item {
                display: flex;
                font-size: $font-l;
                color: $white;
                a {
                    &.active {
                        background: $green-50;
                    }
                    padding: 1rem;
                    width: 100%;
                    font-weight: 500;
                    color: $white;
                    text-decoration: none;
                }
            }
        }   
    }
}

// Right sidebar
aside.Sidebar-right {
    position: fixed;
    top: 3rem;
    right: 0;
    bottom: 0;
    background-color: $sidebar-grey;
    .sidebar-container {
        width: 340px;
        .popular-events {
            .right-nav-header {
                display: flex;
                padding: 1rem 1.25rem;
                text-transform: uppercase;
                font-size: $font-l;
                font-weight: bold;
                height: 3.125rem;
                color: $white;
                span {
                    display: flex;
                    align-items: center;
                }
            }
            .right-nav-content {
                .popular-events-list {
                    margin: 0;
                    padding: 0 10px;
                    list-style-type: none;
                    li > a {
                        display: flex;
                        color: $white;
                        padding: 0.75rem 0.5rem;
                        border-top: 1px solid $border-color;
                        text-decoration: none;
                        &:hover {
                            background-color: $border-color;
                            border-top-color: transparent;
                        }

                        .event-link-content {

                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    nav.Sidebar-left {
        z-index: 1;
    }
    aside.Sidebar-right {
        display: none;
    }
}


@keyframes slideout {
    from {
        transform: translate(0);
    }
    to {
        transform: translateX(-240px);
    }
}

@keyframes slidein {
    from {
        transform: translate(-240px);
    }
    to {
        transform: translateX(0);
    }
}